/* top-level elements */

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: Helvetica;
}

canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 0;
	z-index: 0;
}

div {
	cursor: default;
}

.clear {
	clear: both;
}

#debug {
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: 400px;
	height: 100px;
	background: rgba(255, 255, 255, 0.7);
	color: #000;
	display: none;
	z-index: 5;
}

/* HUD crosshair */

#crosshair {
	position: absolute;
	
	background: transparent;
	color: white;
	
	font-size: 16pt;
	
	z-index: 5;
}

/* HUD messages */

#messages {
	position: absolute;
	
	background: transparent;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
	
	overflow: hidden;

	font-size: 16pt;
	text-align: center;

	width: 100%;
	
	z-index: 5;
}

/* HUD prompts */

#prompt {
	position: absolute;
	
	background: transparent;
	color: white;

	font-size: 16pt;
	text-align: left;
	line-height: 150%;
	
	z-index: 5;

}

.key {
	border: solid 1px white;
	border-radius: 5px;
	background: black;
	padding: 0px 0.5em 0px 0.5em;
}

#prompt div {
	text-shadow: black 0.1em 0.1em 0.2em;
}

/* mouse tracking surface */

#mouse-tracker {

	position: absolute;

	top: 0px;
	left: 0px;
	
	background: transparent;
	
	z-index: 10;
	
	cursor: default;
}

/* talk dialog */

#talk {

	position: absolute;

	background: rgba(0, 0, 0, 0.75);
	color: white;
	
	width: 23em;
	
	border: double 5px white;

	display: none;
	z-index: 15;
}

#talk-dialogue-frame, #talk-keyword-frame, #talk-control-frame {
	padding: 5px;
}

#talk-dialogue-wrapper {
	overflow-y: scroll;
	height: 10em;
}

.talk-keyword {
	float: left;
	width: 5em;
	border-radius: 5px;
	background-color: white;
	color: black;
	text-align: center;
	margin: 5px;
}

/* pause curtain */

#curtain {

	position: absolute;

	top: 0px;
	left: 0px;
	
	background: rgba(0, 0, 0, 0.75);
	
	z-index: 20;
	
	display: none;
	
	cursor: default;
}

