/* top-level elements */

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: Helvetica;
}

canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 0;
	z-index: 0;
}

div {
	cursor: default;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

#debug {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 400px;
	height: 100px;
	background: rgba(255, 255, 255, 0.7);
	color: #000;
	display: none;
	z-index: 5;
}

/* HUD messages */

#messages {
	position: absolute;
	
	background: transparent;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
	
	overflow: hidden;

	font-size: 16pt;
	text-align: center;

	width: 100%;
	
	z-index: 5;
}

/* HUD prompts */

#prompt {
	position: absolute;
	
	background: transparent;
	color: white;

	font-size: 16pt;
	text-align: left;
	line-height: 150%;
	
	z-index: 5;

}

.key {
	border: solid 1px white;
	border-radius: 5px;
	background: black;
	padding: 0px 0.5em 0px 0.5em;
}

#prompt div {
	text-shadow: black 0.1em 0.1em 0.2em;
}

/* mouse tracking surface */

#mouse-tracker {

	position: absolute;
	top: 0px;
	left: 0px;
	
	background: transparent;
	z-index: 10;
	
	cursor: default;
}

/* talk dialog */

#talk {
	position: absolute;

	background: rgba(0, 0, 0, 0.75);
	color: white;
	
	width: 23em;
	
	border: double 5px white;

	display: none;
	z-index: 15;
}

#talk-response-frame, #talk-request-frame, #talk-control-frame {
	padding: 5px;
}

#talk-request-frame, #talk-control-frame {
	border-top: solid 1px white;
}

#talk-response-wrapper {
	overflow-y: scroll;
	height: 10em;
}

#talk-request-wrapper {
	overflow-y: scroll;
	height: 5em;
}

.talk-request {
	margin-bottom: 5px;
	color: #aaf;
}

.talk-response {
	margin-bottom: 5px;
	color: #afa;
}

.talk-request-visited {
	color: #339;
}

/* flip dialog */

#flip {
	position: absolute;

	background: rgba(0, 0, 0, 0.75);
	color: white;
	
	border: double 5px white;

	display: none;
	z-index: 15;
}

#flip-board {
	padding: 5px;
	background: rgba(0, 0, 0, 1);
}

#flip-board td {
	height: 32px;
	width: 32px;
	margin: 0px;
	padding: 0px;
	border: solid 1px #777;
}

#flip-control-frame {
	padding: 5px;
	border-top: solid 1px white;
}

/* pause curtain */

#curtain {

	position: absolute;

	top: 0px;
	left: 0px;
	
	background: rgba(0, 0, 0, 1);
	
	z-index: 20;
	
	cursor: default;
}

